.back_top,.bg-gradient,.home-bg,.btn-gradient,.features_border,.in_features,.bg-features{	
	background: #26a0da;
	background: -webkit-linear-gradient(to right, #314755, #26a0da);
	background: linear-gradient(to right, #314755, #26a0da);
}

.section_title_icon,
.btn-gradient:hover,
.btn-gradient:focus,
.btn-gradient:active,
.btn-gradient.active,
.btn-gradient.focus,
.btn-gradient:active,
.btn-gradient:focus,
.btn-gradient:hover,
.open>.dropdown-toggle.btn-gradient,
.features_one .features_list .features_list_icon i,
.work_icon i,.work_process .work_box .work_left::after,
.work_process .work_box .work_right::after,
.about_boxes .about_icon i,
.features_one .features_icon {
	background: #314755;
	background: -webkit-linear-gradient(to right, #26a0da, #314755);
	background: linear-gradient(to right, #26a0da, #314755);
}